.recipes {
  color: #fff;
  background-color: #0a2750;
  padding: 100px 80px 215px;
  background-image: url(../images/se_project_2_files/background_recipes.svg);
  background-size: cover;
  position: relative;
}
.recipes__title {
  max-width: 500px;
  margin: 0 0 24px;
  font-family: "Inter", "Ariel", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  margin: 0 0 24px;
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 40px;
  padding-left: 0;
}
.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", "Ariel", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.recipes__iframe {
  border: none;
  width: 560px;
  height: 315px;
}
